<h5>Baş</h5>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div *ngFor="let img of carImages let i=index"  [ngClass]="getCarouselActiveOrNot(i)">
      <img height="250"  [src]="urlPath+img.imagePath" class="d-block w-100" alt="...">
      <h5><br>{{urlPath}}{{img.imagePath}}{{i}}</h5>
    </div>

  
  </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<ul *ngFor="let car of cars" class="list-group">
  <li class="list-group-item">Marka:{{car.brandName}}</li>
  <li class="list-group-item">Üretim yılı: {{car.modelYear}}</li>
  <li class="list-group-item">Renk: {{car.colorName}}</li>
  <li class="list-group-item">Günlük fiyat(TL): {{car.dailyPrice}}</li>
  <li class="list-group-item">Açıklama: {{car.carName}}</li>
</ul>

  <h5>Son</h5>