<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden"></span>
</div>
<table *ngIf="dataLoaded==true"class="table">
  <thead>
    <tr>
      <th>Kullanıcı</th>
      <th>Müşteri</th>
      <th>Marka</th>
      <th>Detay</th>
      <th>Alış tarihi</th>
      <th>Dönüş tarihi</th>
    </tr>
  </thead>
  <tr *ngFor="let rental of rentals">
    <td>{{rental.userFullName}}</td>
    <td>{{rental.customerName}}</td>
    <td>{{rental.brandName}}</td>    
    <td>{{rental.carName}}</td>
    <td>{{rental.rentDate}}</td>
    <td>{{rental.returnDate}}</td>
  </tr>
  