<div class="card">
    <div class="card-header text-center">
      <div class="card-body">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner  d-flex "
             style="height: 50vh; min-height: 20rem; max-height: 30rem">
    
              <div class="carousel-item align-self-center" 
              class="" style="height: 100%; width: 100%">
                 <img src="" class="" style="height: 100%; width: 100%; object-fit: contain"
               />
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    
      </div>  
    </div>

    <div class="card"  style="width: 18rem">  
        <div class="card-body">
            <h6 class="card-title">Car Id</h6>
            <h6 class="card-title">Brand</h6>
            <h6 class="card-title">Model Year</h6>
            <h6 class="card-title">Color: </h6>
            <h6 class="card-title">Daily Price</h6>
            <h6 class="card-text">Descriptions</h6>
            
        </div>

    </div>
</div>

