<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden"></span>
</div>

<div class="row" *ngIf="dataLoaded==true">
  <div class="col col-md-12">
      <app-car-filter></app-car-filter>
  </div>
</div>

<div class="row" *ngIf="dataLoaded==true">
  <div class="col col-md-12">
    <input type="text" [(ngModel)]="filterCarText" class="form-control" id="filterText" placeholder="Araç arama">
    <table  class="table"> 
      <thead>    
        <tr>      
          <th>Detay</th>
          <th>Marka</th>
          <th>Üretim yılı</th>
          <th>Renk</th>
          <th>Günlük fiyat</th>
          <th>Açıklama</th>
        </tr>
      </thead>
      <tbody>       
        <tr *ngFor="let car of cars | filterCar:filterCarText" >
          <button class="btn" routerLink="cars/carDetails/{{car.carId}}">Detay</button>
          <td>{{car.brandName}}</td>
          <td>{{car.modelYear}}</td>
          <td>{{car.colorName}}</td>
          <td>{{car.dailyPrice | currency:"TRY":"₺"}}</td>
          <td>{{car.carName}}</td>
        </tr>      
      </tbody>
    </table>
  </div>
</div>
    

